.invoice {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 16px;
    max-width: 400px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.invoice-item {
    font-size: 16px;
    padding: 8px 0;
    border-bottom: 1px dashed #ccc;
    margin-bottom: 8px;
}

.invoice-item:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.invoice-total {
    font-size: 18px;
    padding-top: 12px;
    margin-top: 8px;
    color: #333;
}

.invoice-total strong {
    color: #2a9d8f;
}

.invoice-item span {
    color: #555;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh; /* Chiều cao chiếm toàn bộ trang */
}

.invoice-radio {
    background-color: #f8f9fa; 
    border: 1px solid #dee2e6;
    border-radius: 8px; 
    padding: 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.invoice-radio p {
    font-size: 1.2rem; 
    font-weight: bold; 
    margin-bottom: 15px;
}

.form-check {
    display: flex; 
    align-items: center; 
    margin-bottom: 10px;
}

.form-check-input {
    margin-right: 10px;
}

.form-check-label {
    font-size: 1rem; 
    cursor: pointer; 
}

.form-check-input:checked {
    accent-color: #007bff;
}